.corpo {
    background: white;
    align-items: center;
}

.corpo-cinza {
    background: #f7f7f7;
    align-items: center;
}

@media (max-width: 600px) {
    .corpo, .corpo-cinza .cabecalho, .fundo-branco, .fundo-branco-post, 
    .fundo-cinza, .rodape, .container-rodape, form {flex-direction: column;}
}

/* ------------- */
.cabecalho {
    align-items: center;
    background: #419488;
    display: flex;
    height: 117px;
    justify-content: space-around;
}

.principal {
    background: white;
}

.t1 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin: 10px;
}

.titulo-post{
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 10px;  
}

.tv1{
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-size: 37px;
    margin: 10px;    
}

.t2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    margin: 10px;
}

.t3 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin: 10px;
}

.tv2 {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
    margin: 10px;
}

.p1 {
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.p2 {
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin: 10px;
}

.texto-post{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 10px;
}

.subtitulo-post{
    color: #419488;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    margin:10px;
}

.data-post{
    color: #9d9d9d;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 0.0;
}

.rodape {
    background: #419488;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 2%;
    flex-basis: 100px;
	flex-grow: 200px;
	flex-shrink: 0;
}

.fundo-branco {
    background: white;
    display: flex;
    padding: 2% 2%;
}

.fundo-branco > div{
    align-items: center;
    justify-content: center;
    margin:auto;
    top:50%;
    padding: 10px;
}

.fundo-branco-post{
    padding: 5% 5%;
}

.fundo-cinza {
    background: #F7F7F7;
    display: flex;
    padding: 1% 1%;
    align-items: center;
    justify-content: center;
    padding: 2% 2%;
}

.fundo-cinza > div{
    align-items: center;
    justify-content: center;
    margin:auto;
    top:50%;
    padding: 10px;
}

.imagem-banner-curso{
    width: auto;
    height: 270px;
    margin: auto;
}

.container-rodape {
    background: #419488;
    display: flex;
    flex-direction: column;
}


.container-rodape > div{
    margin: 7px;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.container-rodape > div a{
    margin: 5px;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.botao-verde {
    background: #419488;
    border: 2px solid white;
    border-radius: 999em;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px;   
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    width:fit-content;
}

.botao-verde-rodape {
    background: #419488;
    border: 2px solid white;
    border-radius: 999em;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.botao-rosa {
    background: #FF4081;
    border-radius: 999em;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;   
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.botao-branco {
    background: transparent;
    border-radius: 999em;
    border: 2px solid #FF4081;
    color: #FF4081;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px;   
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 1%;
    flex-basis: 200px;
    flex-shrink: 3;
    width: 300px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

textarea{
    flex-basis: 200px;
}

input[type=submit] {
    background-color: #FF4081;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    width: 100px;
}
  
input[type=submit]:hover {
    background-color: #ca2d61;
}

body {margin:0; padding:0;}

video{
    margin: 10px;
}

.imagem-post{
    margin: 10px;
    width: 100%;
    height: auto;
}

nav a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
    background: #C4C4C4;
    width: 80%;
}